{% extends "layout.html" %}
{% block content %}
        <div class="jumbotron jumbotron-booktraq jumbotron-category">
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <h1 class="title category-title">{{ category }}</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row body-content">
                <div class="col-sm-3 col-sm-offset-1">
                    <h2 class="section">Categories</h2>
                    <ul class="category-list">
                        {% for category in categories %}
                            <li><a href="{{ url_for('category', category=category.slug) }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-sm-8">
                    <h2 class="section">{{ category }} Books</h2>
                    <div class="row">
                        {% for book in books %}
                            <div class="col-sm-3 book-tile">
                                <div class="book-cover"></div>
                                <a href="{{ url_for('item', book_id=book.id) }}" class="truncate" title='{{ book.title }}'>{{ book.title }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
{% endblock %}