<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>booktraq - home</title>
        <meta name="description" content="Keep track of which books you've read using booktraq.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../static/css/main.css">

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-default navbar-static-top navbar-booktraq" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="btn btn-default navbar-left booktraq-login" href="#">log in</a>
                </div>
            </div>
        </nav>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron jumbotron-booktraq">
            <div class="container">
                <div class="col-sm-4 col-sm-offset-1 text-center">
                    <h1 class="booktraq-title">booktraq</h1>
                    <p class="booktraq-subtitle">track your reading habits, and grow your reading list using booktraq</p>
                </div>

                <div class="col-sm-6 hidden-xs">
                    <img class="img img-responsive" src="../static/images/booksheader.png" />
                </div>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row body-content">
                <div class="col-sm-3 col-sm-offset-1">
                    <h2 class="section">Categories</h2>
                    <ul class="category-list">
                        {% for category in categories %}
                            <li><a href="#">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-sm-8">
                    <h2 class="section">Recently Added Books</h2>
                    <div class="row">
                        {% for book in books %}
                            <div class="col-sm-3 book-tile">
                                <div class="book-cover"></div>
                                <a href="#">{{ book.name }}</a>
                            </div>
                        {% endfor %}
                    </div>

                    <h2 class="section">Most Popular</h2>
                    <div class="row">
                        {% for book in books %}
                            <div class="col-sm-3 book-tile">
                                <div class="book-cover"></div>
                                <a href="#">{{ book.name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <hr>

            <footer>
                <p class="text-center">&copy; booktraq 2016</p>
            </footer>
        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>
