{% extends "layout.html" %}
{% block content %}
        <div class="jumbotron jumbotron-booktraq">
            <div class="container">
                <div class="col-sm-4 col-sm-offset-1 text-center">
                    <h1 class="booktraq-title">booktraq</h1>
                    <p class="booktraq-subtitle">track your reading habits, and grow your reading list using booktraq</p>
                </div>

                <div class="col-sm-6 hidden-xs">
                    <img class="img img-responsive" src="../static/images/booksheader.png" />
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row body-content">
                <div class="col-sm-3 col-sm-offset-1">
                    <h2 class="section">Categories</h2>
                    <ul class="category-list">
                        {% for category in categories %}
                            <li><a href="#">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-sm-8">
                    <h2 class="section">Recently Added Books</h2>
                    <div class="row">
                        {% for book in recent %}
                            <div class="col-sm-3 book-tile">
                                <div class="book-cover"></div>
                                <a href="#" class="truncate" title='{{ book.title }}'>{{ book.title }}</a>
                            </div>
                        {% endfor %}
                    </div>

                    <h2 class="section">Most Popular</h2>
                    <div class="row">
                        {% for book in popular %}
                            <div class="col-sm-3 book-tile">
                                <div class="book-cover"></div>
                                <a href="#">{{ book.name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
{% endblock %}

